html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #282838;
  font-family: 'Poppins', sans-serif;
  background: url("https://wallpaperaccess.com/full/1145427.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
}
